---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi, there!</h1>
			<p>
				I'm Nikki. I live in Seattle and work in technical sales. I'm passionate about building meaningful relationships and bread.
			</p>
			<p>
				When I'm not selling dreams built on bits and bytes, I can be found reading literature on mental health, cooking, painting, climbing mountains, and showing my husband where that thing is that he couldn't find.
			</p>
			<p>
				Welcome to my online journal, a cozy corner where tech musings mingle with hiking tales, kitchen experiments, and exploring what it means to be 'well'. Pull up a virtual chair, grab a (digital) cookie, and join the journey.
			</p>
		</main>
		<Footer />
	</body>
</html>
