---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi, there!</h1>
			<p>
				I'm Nikki. I live near Seattle and work in tech; sometimes enabling technical teams, other times solutions selling, and <em>always</em> having fun. There are two things in life that fill my heart with joy: building meaningful relationships and eating really good bread.
			</p>
			<p>
				When I'm not training and empowering others, I can be found reading literature on mental health, cooking, staying active, and showing my husband where that thing is that he couldn't find.
			</p>
			<p>
				Welcome to my slice of the interweb, a cozy corner where tech musings mingle with hiking tales, kitchen experiments, and exploring what it means to be 'well'. Pull up a virtual chair, grab a (digital) cookie, and join the journey.
			</p>
		</main>
		<Footer />
	</body>
</html>
