---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="links"
	description="Links to things that interest me!"
	pubDate={new Date('August 08 2021')}
>
	<p>Links to things that interest me and might interest you too :)</p>
    <ul>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
        <li><a href="https://cassidoo.co/">Cassidy Williams' site</a></li>
    </ul>
</Layout>
