---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	description="Things I'm currently focusing on in life."
	pubDate={new Date('February 06 2024')}
>
	<p>
		A <a href="https://nownownow.com/about">"now page"</a> answers the question, "what's Nikki up to these days?" 
	</p>
	<h6>Living</h6>
		<p>I'm currently living in Issaquah, WA with Jonathan and our furry 3-year-old, Ume. We're surrounded by great friends and lots of nature. It's winter so it's cold and the days are shorter, which means I've fully given in to cozy life (aka lots of blankets and warm drinks).</p>
	<h6>Doing</h6>
		<p>I've been spending each morning doing yoga, journaling, and reading. The journaling is specifically focused on gratitude. It's been a really peaceful way to start the day. </p>
	<h6>Watching</h6>
		<p>I started watching a new anime called Zom 100: Bucket List of the Dead. It's pretty timely for me as I've been pretty intentional about my career lately and Akira can really teach you a lot about career choices (no spoilers, I promise).</p>
	<h6>Planning</h6>
		<p>Lately, I've been thinking a lot about travel and looking forward to when Jonathan and I take our honeymoon later this year. Top of mind for me are: Puerto Rico, Italy, and Japan.</p>
	<h6>Learning</h6>
		<p>I've been refreshing my web development skills lately by building small projects in Next.js. Wow, it's a powerful framework!</p>
	<h6>Reading</h6>
		<p>I'm reading two books right now; one about Mindfulness for Adult ADHD and the other is called The Belief Equation by Dr. Peter Salerno.</p>
	<h6>Working</h6>
		<p> I just started working for Vercel as a Staff Field Enablement Engineer and I could not be more thrilled! </p>
</Layout>
